$font-stack: Heveltica, sans-serif;
$primary-color: #333;
$max-size: 960px;

/* This CSS will print because %message-shared is extended.
This is called placeholder and it is only printed if extended */
%message-shared {
  border: 1px solid #ccc;
  padding: 10px;
  color: #333;
}

.message {
  @extend %message-shared;
}

.success {
  @extend %message-shared;
  border-color: green;
}

.error {
  @extend %message-shared;
  border-color: red;
}

.warning {
  @extend %message-shared;
  border-color: yellow;
}

.text-centered {
  text-align: center;;
}
body {
  font: 100% $font-stack;
  color: $primary-color;
}


.nav {
  text-align: end;
  .logo {
    display: inline-block;
    width: 200px;
    height: 50px;
    background-color: #333;
    border-radius: 20px;
    padding: 0;
  }
  ul {
    display: inline-block;
    padding: 0;
    list-style: none;
  }

  li {display: inline-block;}

  a {
    display: block;
    padding: 6px 12px;
    text-decoration: none;
  }
}

.center {
  margin: 0 auto;
  width: 100%;
  max-width: 800px;
}
.container {
  width: 100%;
}


[role="main"] {
  float: left;
  width: 600px/$max-size * 100%;
  background-color: lighten(#333, 60%);
}

[role="complementary"] {
  float: right;
  width: 300px/$max-size *100%;
  background-color: lighten(#333, 60%);
}
